.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(/public/Calculator.jpg);
  background-size: cover;
  background-position: center;
  color: #ffffff; /* Text color */
}
#calculator {
  width: 320px;
  margin-top: 20px;
  background-color: #162957; /* Dark gray background color */
  border-radius: 20px;
  padding: 20px;
  border: 2px dotted #ffffff; /* Border color and width */
}


#display {
  background-color: #343a40; /* Darker gray background color for display */
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #ffffff; /* Border color and width */
}

#answer {
  font-size: 24px;
}

#expression {
  font-size: 16px;
}

button {
  width: 60px;
  height: 60px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
  background: linear-gradient(#4e5160, #363940); /* Gradient background color for buttons */
  color: #ffffff; /* Text color for buttons */
}

button:hover {
  background: linear-gradient(#5f6270, #45484f); /* Darker gradient background color on hover */
}
